.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (min-width: 1200px) {
    .col-lg-3 {
        width: 25%;
    }
}

@media (min-width: 950px) and
         (max-width: 1199px) {
    .col-md-5 {
        width: 41%;
    }
    .col-md-11 {
        width: 91%;
    }
}

@media (max-width: 949px) {
        .col-sm-12 {
            width: 100%;
        }
}

.header {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 3%;
}

.row div {
    box-sizing: border-box;
    border: 2px solid black;
    background-color: #888888;
    margin: 1rem auto;
}

div h2 {
    margin: 0;
    float: right;
    text-align: center;
    border: 1px solid black;
    width: 30%;
}

div p {
    font-size: 1.5em;
    justify-content: baseline;
    padding: 2em 1em 0 1em;

}

.chicken {
    background-color: pink;
}

.beef {
    background-color: red;
    color: white;
}

.sushi {
    background-color: yellowgreen;
}